@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Common;  

@{
    ViewData["Title"] = "Categorias";
}

@model X.PagedList.PagedList<DnkFinances.Models.TransactionCategory>
    

<h1>@ViewData["Title"]</h1>

<div>Suas Categorias</div>

<table id="example" class="table table-striped" style="width:95%">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Tipo</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tr>
    </thead>

    
    <tbody>
        @* @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="6">Nenhuma transação encontrada.</td>
            </tr>Categoria 	Tipo
Salário 	INCOME
Pet 	
        }
        else{ *@

        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Title</td>
                <td>@category.Type</td>
                <td>ed</td>
                <td>del</td>

                
            </tr>
        }
    </tbody>
    @* <tfoot>
        <tr>
            <th>Data</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Status</th>
            <th>Conta</th>
        </tr>
    </tfoot> *@


</table>
<div>
  <ul class="pagination"  data-bs-theme="dark">
    <li class="page-item  ">
      <a class="page-link  " href="#">&laquo;</a>
    </li>
    <li class="page-item ">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item ">
      <a class="page-link " href="#">2</a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link " href="#">&raquo;</a>
    </li>
  </ul>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", "Category",new { page }))

