@{
    ViewData["Title"] = "Categorias";
}

<div>Suas Categorias</div>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      @* <th scope="col"></th> *@
      @* <th scope="col">First</th> *@
      <th scope="col">Título</th>
      <th scope="col">Tipo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      @* <th scope="row">1</th> *@
      @* <td>Mark</td> *@
      <td>Salário</td>
      <td>Renda</td>
    </tr>
    <tr>
      @* <th scope="row">2</th> *@
      <td>Alimentação</td>
      <td>Despesa</td>
      @* <td>@fat</td> *@
    </tr>
    <tr>
      @* <th scope="row">3</th> *@
      <td>Pet</td>
      <td>Despesa</td>

    </tr>
  </tbody>
</table>